<!DOCTYPE html>
<html>

  <head>
    <title>OAuth Services</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/all.min.css" rel="stylesheet" type="text/css">
    <link href="./css/index.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="./img/logo.png"/>
  </head>

  <body>
    
    <div id="container">

      <div class="header">
        <img src="./img/logo.png" alt="OAuth Services" style="max-height: 80px">
        
        <p>making simple things simple and complicated things possible</p>
        
      </div>
      
      <div class="content container-fluid">

        <div class="calculator">

          <input type="text" class="display-screen">
        
          <div style="display:flex;flex-direction:column;align-items:center; margin: 25px auto">

            <div style="display:flex">
                <div class="key">1</div>
                <div class="key">2</div>
                <div class="key">3</div>
                <div class="key">+</div>
            </div>

            <div style="display:flex;margin-top:10px">
                <div class="key">4</div>
                <div class="key">5</div>
                <div class="key">6</div>
                <div class="key">-</div>
            </div>

            <div style="display:flex;margin-top:10px">
                <div class="key">7</div>
                <div class="key">8</div>
                <div class="key">9</div>
                <div class="key">*</div>
            </div>

            <div style="display:flex;margin-top:10px">
                <div class="key">0</div>
                <div class="key">.</div>
                <div class="key">C</div>
                <div class="key">/</div>
            </div>

          </div>

        </div>

      </div>

      <div class="footer"> 
        <p>&copy; 2019 OAuth Services. Terms of Service.</p>
      </div>

      <div class="loading style-2 hide">
          <div class="loading-wheel"></div>
      </div>
    </div>

    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/client.js"></script>
   
  </body>
</html>
