<!DOCTYPE html>
<html>

  <head>
    <title>OAuth Services</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/all.min.css" rel="stylesheet" type="text/css">
    <link href="./css/index.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="./img/logo.png"/>
  </head>

  <body>
    
    <div id="container">

      <div class="header">
        <img src="./img/logo.png" alt="OAuth Services" style="max-height: 80px">
        
        <p>making simple things simple and complicated things possible</p>
        
      </div>
      
      <div class="content container-fluid">

        <div class="div-login-options">

          <h4>Connect with apps of your choice 
            <i class="fas fa-smile" style="color: #bb860a"></i>
          </h4>
          <hr style="border-bottom: 1px solid #fff">

          <button class="btn btn-lg" id="btn-line"><i class="fab fa-line"></i> LINE</button>
        
          <button class="btn btn-lg" id="btn-facebook" disabled><i class="fab fa-facebook-square"></i> Facebook</button>

          <button class="btn btn-lg" id="btn-instagram" disabled><i class="fab fa-instagram"></i> Instagram</button>
          
          <button class="btn btn-lg" id="btn-wechat" disabled><i class="fab fa-weixin"></i> weChat</button>
         
        </div>

      </div>

      <div class="footer"> 
        <p>&copy; 2019 OAuth Services. Terms of Service.</p>
      </div>

      <div class="loading style-2 hide">
          <div class="loading-wheel"></div>
      </div>
    </div>

    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/client.js"></script>
  </body>
</html>
