<!DOCTYPE html>
<html>

  <head>
    <title>Training Services</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/all.min.css" rel="stylesheet" type="text/css">
    <link href="./css/index.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="./img/logo.png"/>
  </head>

  <body>
    
    <div id="container">

      <div class="header">
        <img src="./img/logo.png" alt="OAuth Services" style="max-height: 80px">
        
        <p>In process of making simple things simple and complicated things possible</p>
        
      </div>
      
      <div class="content container-fluid" style="flex-direction: column; width: 80%; margin: auto">

          <h2 style="margin: 12px;">Convert Images into Base64</h2>

          <div class="file-chooser" style="margin: 12px;">
            <label for="image-file">Choose File</label>
            <input type="file" id="image-file">
          </div>

          <div class="base64-div" style="margin: 12px;">
            <label for="base64-code">Base64 Representation of your uploaded image.</label>
            <textarea style="height: 317px;width: 800px;" id="base64-code"></textarea>
          </div>

          <buttton type="button" id="convert-btn" style="margin: 12px auto; width: 200px;">Convert</buttton>

      </div>

      <div class="footer"> 
        <p>&copy; 2019 Training Services. Terms of Service.</p>
      </div>

      <div class="loading style-2 hide">
          <div class="loading-wheel"></div>
      </div>
    </div>

    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/client.js"></script>
   
  </body>
</html>
